<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/d920995c8a.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="header-bar">
            <div class="header-bar-mobile">
                <a class="a-logo" href="/"><img class="logo" src="./images/logo-mercado-liebre.svg"
                        alt="Logo mercado liebre"></a>
                <div class="nav-bar">
                    <div class="search-box">
                        <input type="text" placeholder="Buscar productos, marcas">
                        <a href="#" target="_blank">
                            <i class="fa-solid fa-magnifying-glass icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="motto"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito
            </p>
        </div>
        <nav class="main-nav-bar">
            <ul class="nav-left">
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Tiendas Oficiales </a></li>
                <li><a href="#"> Vender </a></li>
                <li><a href="#"> Ayuda </a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="/register"> Creá tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                <li><a href="/login"> Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#"> Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h3 class="title-reg"> Registro </h3>
        <form action="" method="POST" class="register-form">
            <div class="control-register">
                <input type="text" name="nombre" class="control" placeholder="Nombre y Apellido" minlength="5">
            </div>

            <div class="control-register">
                <input type="text" name="usuario" class="control" placeholder="Nombre de usuario" minlength="5">
            </div>

            <div class="control-register">
                <input type="email" name="email" class="control" placeholder="E-mail">
            </div>

            <div class="control-register">
                <label class="etiqueta"> Fecha de Nacimiento</label>
                <input type="date" name="dob" min="1900-01-01" max="2013-01-01" class="control">
            </div>

            <div class="control-register">
                <input type="text" name="domicilio" class="control" placeholder="Domicilio">
            </div>

            <div class="control-register">
                <label class="etiqueta"> Perfil: </label>
                <div class="box">
                    <input type="radio" name="perfil" value="comprador"><label>Comprador</label>
                    <input type="radio" name="perfil" value="vendedor"><label>Vendedor</label>
                </div>
            </div>

            <div class="control-register">
                <label class="etiqueta"> Intereses: </label>
                <label class="box"><input type="checkbox" name="interes">Electro</label>
                <label class="box"><input type="checkbox" name="interes">Moda</label>
                <label class="box"><input type="checkbox" name="interes">Hogar</label>
                <label class="box"><input type="checkbox" name="interes">Juguetería</label>
                <label class="box"><input type="checkbox" name="interes">Vida sana</label>
            </div>

            <div class="control-register">
                <label class="etiqueta"> Foto de perfil: </label>
                <input type="file" name="avatar" accept=".jpg, .png" class="control">
            </div>

            <div class="control-register">
                <input type="password" name="contraseña" class="control" placeholder="Contraseña" minlength="8">
            </div>

            <div class="control-register">
                <input type="password" name="contraseña" class="control" placeholder="Confirmar contraseña"
                    minlength="8">
            </div>

            <a href="/"><button type="button" class="button-register">Enviar</button></a>
            <button type="reset" class="button-register">Borrar</button>
        </form>
    </main>
    <footer>
        <div class="footer-sections">
            <section class="footer-section">
                <div>
                    <i class="fa-solid fa-credit-card"></i>
                    <h5> Pagá con tarjeta o en efectivo</h5>
                    <p></p>
                    <p class="descrip">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos
                        de pago. !Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fa-solid fa-gift"></i>
                    <h5> Envío gratis desde los $ 2.500</h5>
                    <p></p>
                    <p class="descrip">Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos</p>
                </div>
                <div>
                    <i class="fa-solid fa-user-shield"></i>
                    <h5>Seguridad de principio a fin</h5>
                    <p></p>
                    <p class="descrip">¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque
                        estás siempre protegid@.</p>
                </div>
            </section>
            <p class="descrip copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>